* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FDFCF8;
}

a {
  color: inherit; }

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

h1 {
  font-family: new-spirit, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 44px;
  margin: 0;
}
.banner {
  background-color: #FDFCF8;
  position: fixed;
  width: 100%
}
.header {
  width: 1000px;
  height: 60px;
  margin: 10px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.links img {
padding-left: 10px;
height: 25px;
}

h2 {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  margin: 14px 14px 2px 20px;
}

h3 {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0 0 22px 20px;
  padding-right: 14px;
}

p {
  font-family: roboto-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 10px 0px;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.content_s1 {
  width: 660px;
  border: 2px solid;
  border-radius: 30px;
  background-color: #B2D7CB;
  margin-right: 40px;
  margin-bottom: 50px;
}

.content_s1 img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-bottom: 2px solid;
  border-radius: 26px 26px 0 0;
  object-position: 100% 0;
}

.main_right {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copy {
  flex-direction: column;
  justify-content: flex-start;
}

.content_s2 {
  width: 100%;
  border: 2px solid;
  border-radius: 30px;
  background-color: #FFE4A8;
  margin-bottom: 50px;
}

.content_s2 img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 2px solid;
  border-radius: 29px 29px 0 0;
}

.portfolio {
  background-color: #121217;
}

.videos {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videos h1 {
  padding-top: 50px;
  padding-bottom: 40px;
  color: #FDFCF8;
}

.yt_video {
  width: 100%;
  background-color: #FFF;
  margin-bottom: 50px;
}

.vertical_videos {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;

}

.vertical_video {
  background-color: #fff;
  width: 24%;
  margin-bottom: 50px;
}

.vertical_video video {
  width: 100%;
}

.vertical_video h2 {
  font-size: 16px;
}

.vertical_video h3 {
  font-size: 12px;
  margin-bottom: 15px;
}

.videos iframe {
  width: 100%;
  height: 400px;
  object-fit: cover;
}


@media only screen and (max-width: 1100px) {
  .content_s1 {
    width: 80%;
    margin-right: 0px;
  }

  .header {
    width: 80%;
  }

  .videos {
    width: 80%;
  }

  .main_right {
    padding-top: 0px;
    flex-direction: row;
    width: 80%;
  }

  .content_s2 {
    width: 45%;
    margin-right: 50px;
    order: -1;
  }

  .yt_video iframe{
      height: 375px;
  }

  .vertical_video {
    width: 48%;
  }

  .vertical_video h2 {
    font-size: 20px;
  }

  .vertical_video h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 800px) {

h1 {
font-size: 36px;
}

.content_s1{
    margin-bottom: 10px;
}

.content_s1 img{
  height: 400px;
}

.content_s2 {
  width: 100%;
  order: 2;
}

.main_right {
  flex-direction: column;
}

.copy {
  margin-bottom: 20px;
}

.yt_video iframe{
    height: 250px;
}

.vertical_video {
  background-color: #fff;
  width: 100%;
  margin-bottom: 50px;
}

.vertical_video h2 {
  font-size: 20px;
}

.vertical_video h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

}

@media only screen and (max-width: 520px) {

  .content_s1 img{
    height: 300px;
  }

h1 {
  font-size: 25px;
}

}
