html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.section_1{
  background: #41d380;
  width: 100%;
  height: 100vh;
}

.top_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

.snakt_logo{
  max-width: 18em;
}

.page_links{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin:0;
  padding:0;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 1.5em;
  color: white;
}

.page_links a {
  padding-left: 25px;
  text-decoration: none;
  color: inherit;
}

.app_links_container {
  height: 100%;
}

.app_links {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  color: #41D380;
  background-color: #ffffff;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.1rem;
  padding: 15px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 75px;
}

.button:hover {
  color: #ffffff;
  background: #41D380;
  transition: all 0.4s ease 0s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15), 0 15px 50px 0 rgba(0,0,0,0.10);
}

.waitlist {
  text-decoration: underline;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: .8rem;
  color: #fff;
}

.waitlist:hover {
  color: #1B6A3D;
}

.section_2 {
  background: #fff;
  width: 100%;
  height: 800px;
}

.content_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.screenshot {
  height: 650px;
  max-height: 650px;
}

.screenshot_2 {
  display: none;
}

.description_2 {
  max-width: 45%;
  font-family: Roboto;
  font-size: 1.3rem;
  color: #000;
}

.description_2 h1 {
  text-align: left;
  font-size: 3.5rem;
}

.section_3 {
  background: #4CAAFD;
  width: 100%;
  height: 700px;
}

.video_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.video {
  height: 600px;
  max-height: 600px;
}

.section_4 {
  background: #7C7C7C;
  width: 100%;
  height: 750px;
}

.people {
  width: 80%;
  height: 600px;
  max-width: 900px;
  margin: 0 auto;
}

.people h1 {
  font-family: Roboto;
  font-weight: bold;
  color: white;
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

.people_pics {
  max-height:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.people_pics img{
  width: 100%;
  padding-bottom: 8px;
}

.bio {
  font-family: Roboto;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  max-width: 25%;
}

.bio h2 {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.bio h3 {
  font-weight: lighter;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.pics_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.section_5 {
  background: #FF6363;
  width: 100%;
  height: 550px;
  font-family: Roboto;
  font-size: 1.3em;
  color: white;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 5%;
}

.contact_decription {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
}

.contact_decription h1 {
  font-size: 3.5rem;
  margin-bottom: 12px;
  margin-top: 0px;
}

.contact_decription h2 {
  font-size: 1.3rem;
  margin: 0;
}

.form {
  font-family: Roboto;
  font-size: 2rem;
  height: 100%;
  max-width: 50%;
  padding-left:15%;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 0px solid #fff;
  border-bottom: 3px solid rgba(255,255,255, 0.5);
  outline: none;
  background-color: rgba(255, 0, 0, 0);
  font-family: Roboto;
  font-size: 1.8rem;
  color: white;
  margin-bottom: 35px;
}

input[type=text]:focus {
  border: 0px solid #fff;
  border-bottom: 3px solid #fff;
}

input[type=email] {
  width: 100%;
  box-sizing: border-box;
  border: 0px solid #fff;
  border-bottom: 3px solid rgba(255,255,255, 0.5);
  outline: none;
  background-color: rgba(255, 0, 0, 0);
  font-family: Roboto;
  font-size: 1.8rem;
  color: white;
  margin-bottom: 35px;
}

input[type=email]:focus {
  border: 0px solid #fff;
  border-bottom: 3px solid #fff;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: rgba(255,255,255, 0.5);
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
    opacity: .5;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white;
    opacity: .5;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}
*::placeholder {
    /* modern browser */
    color: rgba(255, 255, 255, 0.5);
}

input[type=submit] {
  background-color: rgba(255, 255, 255, .5);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 1rem;
}

input[type=submit]:hover {
  background-color: white;
  color: #FFB1B1;
}

.section_6 {
  background: #fff;
  width: 100%;
  height: 300px;
  font-family: Roboto;
  font-size: 1.3em;
}

.press {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.press img {
  max-width: 30%;
}

@media screen and (max-width: 1100px) {

  .snakt_logo {
    margin: 0 auto;
  }

  .page_links {
    display: none;
  }

  .description_2 {
    max-width: 50%;
    font-family: Roboto;
    font-size: 1.3rem;
    color: #000;
  }

  .description_2 h1 {
    text-align: left;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 950px) {

  .snakt_logo {
    margin: 0 auto;
    max-width: 22em;
  }

  .page_links {
    display: none;
  }

  .app_links_container {
    height: 100%;
  }

  .app_links {
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button {
    color: #41D380;
    background-color: #ffffff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 75px;
  }

  .waitlist {
    text-decoration: underline;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
  }

  .description_2 h1 {
    text-align: left;
    font-size: 3.5rem;
  }

  .section_2 {
    background: #fff;
    width: 100%;
    height: 600px;
  }

  .screenshot {
    height: 80%;
  }

  .description_2 {
    max-width: 60%;
    font-family: Roboto;
    font-size: 1.1rem;
    color: #000;
    padding-left: 20px;
  }

  .description_2 h1 {
    text-align: left;
    font-size: 2.5rem;
  }

  .section_4 {
    background: #7C7C7C;
    width: 100%;
    height: 650px;
  }

  .people {
    width: 80%;
    height: 600px;
    max-width: 900px;
    margin: 0 auto;
  }

  .people h1 {
    font-family: Roboto;
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
  }


  .bio h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  .bio h3 {
    font-weight: lighter;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
  }

}

@media screen and (max-width: 850px) {




}


@media screen and (max-width: 550px) {

  .screenshot {
    display: none;
  }

  /*.screenshot_2 {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    z-index: 0;
  } */

  .section_2 {
    background: #fff;
    width: 100%;
    height: 1000px;
  }

  .description_2 p {
    z-index: 1;
    background-image: url(images/screenshot_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 380px;
  }

  .screenshot {
    height: 80%;
  }

  .description_2 {
    max-width: 100%;
    font-family: Roboto;
    font-size: 1.3rem;
    color: #000;
    padding-left: 0px;
  }

  .description_2 h1 {
    text-align: center;
    font-size: 3rem;
    padding: 0;
    margin: 0;
  }

  .section_4 {
    background: #7C7C7C;
    width: 100%;
    height: 2100px;
  }

  .people {
    width: 80%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  .people h1 {
    font-family: Roboto;
    font-weight: bold;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .people_pics {
    max-height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .people_pics img{
    width: 100%;
    padding-bottom: 5px;
  }

  .bio {
    font-family: Roboto;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    max-width: 60%;
  }

  #alessandra {
    padding: 0;
    margin: 0
  }

  .pics_content {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
  }

  .section_5 {
    height: 650px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 900px;
    padding-top: 3%;
  }

  .contact_decription h1 {
    font-size: 3rem;
    text-align: center;
  }

  .contact_decription h2 {
    text-align: center;
  }

  .form {
    height: 80%;
    max-width: 100%;
    padding-left:0px;
    margin-bottom: 50px;
  }
}
